body{
    background-color:cornflowerblue;
    color: aliceblue;
}

#star{
    color:rgb(23, 23, 179);
}

#titulo{
    text-align: center;
    
    font-size: 40px;
    color: aliceblue;
    
      font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;

}

h1{
    text-align: center;
color:rgb(23, 23, 179);
font-size: 20px;
font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;

}

hr{
    border-top: 4px dotted;
    border-bottom: aliceblue;
    width: 70%;

}

h2{
    color:rgb(23, 23, 179);
    padding-top: 15px;
}

#ma{
    font-family: "Roboto Condensed", sans-serif;
    margin-left: 200px;
    margin-right: 180px;
}